[Desktop Entry]
Categories=GTK;AudioVideo;DiscBurning;
Comment=Reading, modifying and writing ISO images
Comment[pl]=Czytanie, modyfikowanie i zapisywanie obrazów ISO
Exec=isomaster
Icon=cdrom_mount
Name=ISO Master
Terminal=false
Type=Application
